[package]
authors = [
  "Jorge Aparicio <jorge@japaric.io>",
  "Per Lindgren <per.lindgren@ltu.se>",
]
categories = ["concurrency", "embedded", "no-std"]
description = "Real Time For the Masses (RTFM): a concurrency framework for building real time systems"
documentation = "https://japaric.github.io/cortex-m-rtfm/book/en"
edition = "2018"
keywords = ["arm", "cortex-m"]
license = "MIT OR Apache-2.0"
name = "cortex-m-rtfm"
readme = "README.md"
repository = "https://github.com/japaric/cortex-m-rtfm"
version = "0.5.0-alpha.1"

[lib]
name = "rtfm"

[[example]]
name = "baseline"
required-features = ["timer-queue"]

[[example]]
name = "periodic"
required-features = ["timer-queue"]

[[example]]
name = "pool"
# this example doesn't need this feature but only works on ARMv7-M
# specifying the feature here avoids compiling this for ARMv6-M
required-features = ["timer-queue"]

[[example]]
name = "schedule"
required-features = ["timer-queue"]

[[example]]
name = "types"
required-features = ["timer-queue"]

[dependencies]
cortex-m = "0.5.8"
cortex-m-rt = "0.6.7"
cortex-m-rtfm-macros = { path = "macros", version = "0.5.0-alpha.1" }
heapless = "0.5.0-alpha.1"

[dev-dependencies]
cortex-m-semihosting = "0.3.2"
lm3s6965 = "0.1.3"
panic-halt = "0.2.0"

[dev-dependencies.panic-semihosting]
features = ["exit"]
version = "0.5.1"

[features]
timer-queue = ["cortex-m-rtfm-macros/timer-queue"]

[target.x86_64-unknown-linux-gnu.dev-dependencies]
compiletest_rs = "0.3.21"
tempdir = "0.3.7"

[package.metadata.docs.rs]
features = ["timer-queue"]

[profile.release]
codegen-units = 1
lto = true

[workspace]
members = ["macros"]